<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/images/bg-01.jpg');">
        <mat-card class="wrap-login100 p-32">
            <form class="login100-form" autocomplete="off">
                <span class="login100-form-title p-b-49">
                    Login
                </span>
                <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>username</mat-label>
                <input matInput placeholder="username" autocomplete="off">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>password</mat-label>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <input matInput placeholder="password" type="password" autocomplete="off">
              </mat-form-field>
                
                <div class="text-right txt1 p-t-8 p-b-31">
                    <a href="#" class="txt1" style="text-decoration: none; color:#777;">
                        Forgot password?
                    </a>
                </div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m p-b-54">
                    <a href="#" class="login100-social-item bg1">
                        <img src="./assets/images/192155-24.png" alt="" srcset="">
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <img src="./assets/images/1608914-20.png" alt="" srcset="">
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <img src="./assets/images/211920-24.png" alt="" srcset="">
                    </a>
                </div>
            </form>
        </mat-card>
    </div>
</div>

