<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/images/bg-01.jpg');">
        <mat-card class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" autocomplete="off">
                <span class="login100-form-title p-b-49">
                    Login
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Username is reauired">
                    <span class="label-input100">Username</span>
                    <label for="username" class="form-contorl">
                        <i class="material-icons">person</i>
                        <input type="text" name="username" id="username" autocomplete="off">
                    </label>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <label for="password" class="form-contorl">
                        <i class="material-icons">vpn_key</i>
                        <input type="password" name="username" id="password" autocomplete="off">
                    </label>
                    
                </div>
                
                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m p-b-54">
                    <a href="#" class="login100-social-item bg1">
                        <img src="./assets/images/192155-24.png" alt="" srcset="">
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <img src="./assets/images/1608914-20.png" alt="" srcset="">
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <img src="./assets/images/211920-24.png" alt="" srcset="">
                    </a>
                </div>
            </form>
        </mat-card>
    </div>
</div>

